.faq-container {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.faq-row-container {
  margin-bottom: 20px;
}

.faq-row-question {
  font-family: "Lucida Sans", "cjk", sans-serif;
  font-style: italic;
  font-size: 30px;
  margin-bottom: 10px;
}

.faq-row-answer {
  font-family: "Lucida Sans", "LXGWWenKaiTC", sans-serif;
  font-size: 20px;
  margin-bottom: 40px;
}
