.details-container {
  min-height: 100vh;
  height: 100%;
  position: relative;
}

.background-image {
  background-image: url("~/src/images/background-4.jpg");
  background-size: cover;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.name-header {
  padding-top: 125px;
  text-align: center;
  font-size: 65px;
  font-family: "Amsterdam", Arial, serif;
  color: rgb(13, 75, 133);
}

.details-content {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-left: 30px;
  margin-right: 30px;
}

.details-text-container {
  display: flex;
  justify-content: center;
}

.details-text {
  font-family: "Charm", Arial, serif;
  color: rgb(13, 75, 133);
  font-size: 30px;
  text-align: center;
}

.countdown-clock {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.rsvp-button-container {
  display: flex;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

.rsvp-button {
  border-radius: 28px;
  padding: 20px 20px;
  background: #fff !important;
  color: #646464;
  font-size: 16px;
  font-family: "Sofia", "Sans", "Condensed";
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  border: solid 2px rgb(13, 75, 133);
}
