.details-content {
  width: 800px;
  text-align: center;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

.details-text {
  font-family: "Charm", Arial, serif;
  color: rgb(13, 75, 133);
  font-size: 30px;
}
