.sky-background-image {
  background-image: url("~/src/images/white-cloud-blue-sky-sea.jpg");
  background-size: cover;
  height: 1000px;
}

.name-header {
  text-align: center;
  font-size: 65px;
  font-family: "Amsterdam", Arial, serif;
}

.countdown-clock {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
