.source-code-link-wrapper {
  text-decoration: none;
}

.source-code-button {
  display: flex;
  justify-content: center;
  border-radius: 30px;
  margin: 100px auto 25px;
  padding: 5px 20px;
  background: #fff;
  color: #646464;
  font-size: 12px;
  font-family: "Sofia", "Sans", "Condensed";
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  border: solid 2px black;
  &:hover {
    background-color: lightgray;
    color: darkblue;
  }
}
