.subsection-header {
  text-align: center;
  font-size: 65px;
  font-family: "Amsterdam", Arial, serif;
  color: #646464;
}

.dinner-menu-image {
  margin: auto;
  background-image: url("~/src/images/dinner-menu.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
}
