.dinner-menu-image {
  margin: auto;
  background-image: url("~/src/images/dinner-menu.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
}

.dinner-menu-image.chinese {
  background-image: url("~/src/images/dinner-menu-chinese.png");
}

.dinner-menu-image.mobile {
  height: 450px;
}
