.schedule-content-container {
  color: rgb(13, 75, 133);
  margin-left: 50px;
  margin-right: 50px;
}

.schedule-content-text {
  font-family: "Charm", Arial, serif;
  font-size: 28px;
}

.schedule-content-text.mobile {
  font-size: 20px;
}
