.subsection-header {
  padding-top: 50px;
  text-align: center;
  font-size: 65px;
  font-family: "Amsterdam", Arial, serif;
  color: #646464;
}

.schedule-content-container {
  color: rgb(13, 75, 133);
  margin-left: 50px;
}

.schedule-content-text {
  font-family: "Charm", Arial, serif;
  font-size: 28px;
}
