* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Amsterdam";
  src: url("~/src/fonts/AmsterdamOne.ttf");
}

@font-face {
  font-family: "PTSerif";
  src: url("~/src/fonts/PTSerif-Regular.ttf");
}

@font-face {
  font-family: "Charm";
  src: url("~/src/fonts/Charm-Regular.ttf");
}

@font-face {
  font-family: "Caveat";
  src: url("~/src/fonts/Caveat.ttf");
}

.subsection-header {
  padding-top: 50px;
  text-align: center;
  font-size: 65px;
  font-family: "Amsterdam", Arial, serif;
  color: #646464;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
