* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Amsterdam";
  src: url("~/src/fonts/AmsterdamOne.ttf");
}

@font-face {
  font-family: "PTSerif";
  src: url("~/src/fonts/PTSerif-Regular.ttf");
}

@font-face {
  font-family: "Charm";
  src: url("~/src/fonts/Charm-Regular.ttf");
}

@font-face {
  font-family: "Caveat";
  src: url("~/src/fonts/Caveat.ttf");
}

@font-face {
  font-family: "LXGWWenKaiTC";
  src: url("~/src/fonts/LXGWWenKaiTC-Regular.ttf");
}

@font-face {
  font-family: "GenSenRounded";
  src: url("~/src/fonts/GenSenRounded2TW-R.otf");
}

@font-face {
  font-family: "ChenYuluoyan";
  src: url("~/src/fonts/ChenYuluoyan-2.0-Thin.ttf");
}

@font-face {
  font-family: "Yozai";
  src: url("~/src/fonts/Yozai-Regular.ttf");
}

@font-face {
  font-family: "cjk";
  src: url("~/src/fonts/cjk.ttf");
}

.subsection-header {
  padding-top: 50px;
  text-align: center;
  font-size: 65px;
  font-family: "Amsterdam", "LXGWWenKaiTC", Arial, serif;
  color: #646464;
  margin-left: auto;
  margin-right: auto;
}

.subsection-header.mobile {
  font-size: 45px;
}

.flex-center-container {
  display: flex;
  justify-content: center;
}

.map-link {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.map-link.mobile {
  text-decoration: underline;
}

.ReactModal__Body--open {
  overflow: hidden;
}
